---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h4 class="text-base text-blue-900 font-bold uppercase mb-1 dark:text-orange-400">
  {title}
</h4>
<hr class="bg-black h-0.5" />
