---
import Icon from 'astro-icon';

export interface Props {
  url: string;
  icon: string;
  label: string;
}

const { url, icon, label } = Astro.props;
---

<a
  href={url}
  class="hover:text-[#2f5436] text-[#2e3b30] dark:text-white dark:hover:text-[#91c499]"
  aria-label={label}
  target="_blank"
  rel="noreferrer noopener"
>
  <Icon class="h-7" name={icon} />
</a>